* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

#header {
  width: 100%;
  height: 100px;

  background-color: lightskyblue;
  border-bottom: 5px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-size: 28px;
}

.title {
  font-size: 36px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  padding: 10px 0px;
}

.search-input {
  text-align: center;
}

.search-button {
  cursor: pointer;

  background-color: lightskyblue;
}

.search-button,
.search-input {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid black;

  font-size: large;
}

.player-statistics {
  display: grid;
  grid-template-columns: 150px 1fr;
  background-color: lightskyblue;
  width: 500px;
  height: 300px;
  margin: 20px;
}

.summoner-icon {
  width: 100%;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.match-history {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 20px;
}

.side-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: solid 5px black;
}

.match {
  text-align: center;
}

.win {
  background-color: lightskyblue;
}

.defeat {
  background-color: red;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.player-1 {
  grid-area: 2 / 1 / 3 / 1;
}

.player-2 {
  grid-area: 3 / 1 / 4 / 1;
}

.player-3 {
  grid-area: 4 / 1 / 5 / 1;
}

.player-4 {
  grid-area: 5 / 1 / 6 / 1;
}

.player-5,
.player-6,
.player-7,
.player-8,
.player-9 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
}

.champ-icon {
  width: 15%;
  border-radius: 50%;
  margin: 0 10px;
}
